faiss-cpu==1.7.4
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-auth==2.23.4
google-auth-oauthlib==1.0.0
google-cloud-core==2.4.1
google-cloud-storage==2.13.0
google-crc32c==1.5.0
google-generativeai==0.3.2
google-pasta==0.2.0
google-resumable-media==2.6.0
google-search-results==2.4.2
googleapis-common-protos==1.62.0
joblib==1.2.0
json5==0.9.14
langchain==0.1.8
langchain-anthropic==0.1.4
langchain-community==0.0.21
langchain-core==0.1.24
langchain-google-genai==0.0.9
langchain-openai==0.0.6
langsmith==0.1.3
llama-index-core==0.10.5
mysql==0.0.3
mysql-connector-python==8.2.0
mysqlclient==2.2.1
openai==1.12.0
python-dotenv==1.0.1
requests==2.31.0
streamlit==1.32.2
streamlit-aggrid==0.3.4.post3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.3
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
